
@font-face {
  font-family: 'pressroom';
  src:url('../fonts/pressroom.eot?-75160n');
  src:url('../fonts/pressroom.eot?#iefix-75160n') format('embedded-opentype'),
    url('../fonts/pressroom.woff?-75160n') format('woff'),
    url('../fonts/pressroom.ttf?-75160n') format('truetype'),
    url('../fonts/pressroom.svg?-75160n#pressroom') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="press-"], [class*=" press-"] {
  font-family: 'pressroom';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.press-filter:before {
  content: "\e000";
}
.press-send:before {
  content: "\e001";
}
.press-terminal:before {
  content: "\e002";
}

.press-eye:before {
  content: "\e800";
  font-size: 20px;
}
.press-eye-off:before {
  content: "\e801";
  font-size: 20px;
}
.press-pr-logo-gray-wp:before {
  content: "\e600";
}

.pr-alert {
  margin: 10px 15px 2px 0px !important;
}

.toplevel_page_pressroom > a > .wp-menu-image:before {
  font-family: pressroom;
  content: "\e600";
  font-size: 18px;
}


.pr_autocompleted, .repeater-completer {
  background: rgba(33,33,33,0.1);
  border: 1px solid #fff;
  box-shadow: inset 0 1px 2px rgba(255,255,255,.07);
  cursor: not-allowed;
  margin-bottom: 10px;
  display: inline-block;
  padding: 0.5%;
}

.pr_repeater.subscription  .repeater-completer {
  margin: 0  0 10px 29px;
  width:54%;
  display: block;
}
.pr_repeater .subscription_method {
  display: inline-block;
}
.pr_repeater .subscription_method input {
  margin: 2px 5px;
}
@media screen and (max-width:768px) {
  .pr_repeater.subscription .repeater-completer {
  margin: 10px 0;
  }
}

/****************************/
/* EDITORIAL PROJECT PAGE   */
/****************************/

.pr-tab-wrapper {
  margin: 10px 0 20px 0!important;
}

.pr-edittag {
  padding: 0 15px;
}

.pr-image-container {
  position: relative;
  display: inline-block;
}
.pr-image-container .remove-file {
  position: absolute;
  top: 5px;
  right: 5px;
  width: 16px;
  height: 16px;
  background-image: url('../img/trash.png');
}
.pr-image-container .remove-file:hover {
  background-image: url('../img/trash_hover.png');
}

.tabbed h3 { margin: 0 }

.taxonomy-pr_editorial_project .form-table td {
  padding: 15px 0px;
}
.taxonomy-pr_editorial_project .fixed .column-posts {
  width: 75px;
}

/****************************/
/*         EDITION          */
/****************************/

#pressroom_metabox .hndle {
  display: none;
}

#pressroom_metabox .press-container {
  padding: 10px 40px;
}

#pressroom_metabox .press-pr-logo-gray-wp {
  font-size: 80px;
}

#pressroom_metabox .postbox {
  box-shadow: none;
  border-bottom: 0px;
}

#pressroom_metabox .press-header h2 {
  padding: 10px 40px 0 40px;
  margin: 0px !important;
}

#pressroom_metabox .press-header-right {
  position: absolute;
  right: 20px;
  top: 40px;
}

#pressroom_metabox #publish_edition {
  margin-right: 10px;
}

#pressroom_metabox .nav-tab {
  background: #fff;
  border: 0px;
  color: #a8a8ac;
  border-bottom: 1px solid #ccc;
}

#pressroom_metabox .nav-tab-active,
#pressroom_metabox .nav-tab-active:hover,
#pressroom_metabox .nav-tab-active:focus {
  background: #f1f1f1;
  outline: none;
  box-shadow: none;
  border-top: 1px solid #ccc;
  color: #333334;
  border-right: 1px solid #ccc;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #f1f1f1;
}

#pressroom_metabox .wp-list-table tr:hover {cursor: move}
.number_element_input {margin-right: 5px;}

#pressroom_distribution_metabox .inside{
  margin:0;
  padding:0;
}

.ui-datepicker {
  display: none;
}

.pr-picker-clear {
  vertical-align: top;
  display: inline-block;
  padding: 5px 0;
}

/****************************/
/*        FTP_SFTP          */
/****************************/

.connection-result {
  padding: 1px 12px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
  display: none;
  height: 26px;
  line-height: 27px;
  margin-top: 20px;
}

.connection-result-success {
  border-left: 4px solid #7ad03a;
}

.connection-result-failure {
  border-left: 4px solid #f02a20;
}

/****************************/
/* PUSH NOTIFICATION PAGE  */
/****************************/

/*.pr-push-content {
  position:relative;
  top:15%;
  height:70%;
  width:450px;
  margin-left:auto;
  margin-right:auto;
  background:#fff;
  -webkit-box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, .45);
  box-shadow:  0px 0px 1px 0px rgba(0, 0, 0, .45);
}
.pr-push-content b {
  margin-bottom:4px;
  display:block;
}

.pr-push-content ul{
  list-style-type:none;
  margin:0;
}

.tab{
  float:left;
  height:60px;
  width:150px;
  padding-top:20px;
  box-sizing:border-box;
  background:#eeeeee;
  text-align:center;
  cursor:pointer;
  transition:background .4s;
}

.tab:hover{
  background-color:rgba(0,0,0,.1);
}

.activeTab, .activeTab:hover{
  background:#fff;
}

.activeTab .icon{
  opacity:1;
}

.icon{
  height:24px;
  width:24px;
  opacity:.2;
}

.prp-panel {
  height:86%;
  width:100%;
  box-sizing:border-box;
  padding:40px;
  display:none;
}

.prp-panel.active {
  display:block;
}
*/
form#pr-push-form {
  max-width: 50%;
}
.textbox{
  height:50px;
  width:100%;
  border-radius:3px;
  box-sizing:border-box;
  padding:10px;
  margin-bottom:30px;
}

.textbox:focus{
  outline:none;
  border:rgba(24,149,215,1) 2px solid;
  color:rgba(24,149,215,1);
}

.combobox {
  width: 350px;
  margin-left: 20px;
  border-radius:3px;
  border:rgba(0,0,0,.3) 2px solid;
  box-sizing:border-box;
}

.textareabox {
  height:150px;
  resize: none;
}

.prp-panel b {
  margin-bottom:10px;
}
.prp-panel .radio {
  display:block;
  margin-bottom:10px;
}

.prp-panel .radio span {
  display:inline-block;
}

.prp-panel .radio i {
  color: #666;
}

.prp-panel .radio input {
  margin-top:1px;
  vertical-align:top;
}

.pr-option-btn {
  height:50px;
  width:100%;
  border-radius:3px;
  border:rgba(0,0,0,.3) 0px solid;
  box-sizing:border-box;
  padding:10px;
  margin-top:10px;
  background:#0074a2;
  color:#FFF;
  font-weight:bold;
  font-size: 12pt;
  transition:background .4s;
  cursor:pointer;
}

.button:hover{
  background:#80b438;
}

#pr-push-console {
  height: 350px;
  border: 1px solid #d9d9d9;
  background: #f2f2f2;
  font-family: "Courier New", Courier, monospace;
  overflow-y: scroll;
  margin-top: 20px;
  padding: 10px;
  word-wrap: break-word;
}


#pr-edition-d, #pr-edition-t {
  display: none;
}

.cs-success {
  color: #26A65B;
}

.cs-error {
  color: #CF000F;
}

.theme-browser .theme .pr-theme-description {
  font-size:13px;
  font-weight:normal;
  -webkit-box-shadow:inset 0 1px 0 rgba(0,0,0,.1);
  box-shadow:inset 0 1px 0 rgba(0,0,0,.1);
  overflow:hidden;
  text-overflow:ellipsis;
  background:rgba(255,255,255,.65);
  margin:0;
  padding:15px;
  color: #555;
}

.theme-browser .theme .pr-theme-description-input {
  padding: 11px;
}
.theme-browser .theme .theme-actions { opacity: 1 }

.pr-theme-description .pr-theme-version {
  color: #b3b3b3;
  font-size: 13px;
}
.pr-theme-description span {
  display:block;
  padding: 1px 0;
}

.pr-theme-description a {
  text-decoration: none;
  font-weight: bold;
}

.pr-theme-actions, .theme-browser.rendered .theme:focus .pr-theme-screenshot img, .theme-browser.rendered .theme:hover .pr-theme-screenshot img {
  opacity:1 !important;
  filter: alpha(opacity=100) !important;
}

#pr-theme-upload {
  display:none;
}

.discount-container {
  display: block;
  position: relative;
}

.discount-code {
  margin-top: 10px;
  background: #eee;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid #ddd;
}
.pr-dismiss-notice-container {
  position: absolute;
  right: 5px;
  top: 5px;
}
.pr-dismiss-notice-container a {
  text-decoration: none;
}
.discount-message {
  display: inline-block;
  width: 78%;
  margin-top: 8px;
}
.show-code-container {
  display: inline-block;
  width: 20%;
  text-align: right;
}
.pressroom-addons-alert td {
  background: #f7f7f7 !important;
}
.pressroom-addons-alert .dashicons {
  color: #d54e21;
}
.color-check-label {
  vertical-align: top;
  display: inline-block;
  margin: 4px 0 0 10px;
}
@media screen and (max-width: 782px) {
  .discount-message {
    width: 100%;
  }
  .show-code-container {
    width: 100%;
  }
}
