html{
   height: 100%;
   overflow: hidden;
}

html, 
body {
  margin: 0;
  padding: 0;
}

.device {
  position: relative;
}

.device .circle {
  position: absolute;
  top: 50%;
  z-index: 100;
  height: 44px;
  width: 44px;
  display: inline-block;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, .4);
}

.device .circle--right {
  right: 1rem;
}

.device .circle--left {
  left: 1rem; 
}

.device .circle--right,
.device .circle--left {
    -webkit-transition: all 300ms;
     -moz-transition: all 300ms;
      -ms-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}

.device .circle--right:hover,
.device .circle--left:hover {
  background-color: rgba(255, 255, 255, .7);
}

.device .arrow-left,
.device .arrow-right {
  display: block;
  width: 17px;
  height: 30px;
  margin: 6px auto 0;
  background-image: url(../img/arrows.png);
  background-repeat: no-repeat;
}

.device .arrow-left {
  background-position: right top;
}
.device .arrow-right { 
  background-position: left bottom;
}

.swiper-container {
  height: auto;
  background: #fff;
}
.content-slide {
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
