html{height: 100%}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
/*.device {
  width: 100%;
  height: auto;
  padding: 0;
  border-radius: 20px;
  background: #111;
  border: 3px solid white;
  margin: 5px auto;
  position: relative;
  box-shadow: 0px 0px 5px #000;
  margin-top: 30px;
}*/
.device {
  position: relative;
}
.device .arrow-left {
  background: url(../img/arrows.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.device .arrow-right {
  background: url(../img/arrows.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -15px;
  width: 17px;
  height: 30px;
}
.swiper-container {
  height: auto;
  width: 96%;
  background: #fff;
}
.content-slide {
  padding: 20px;
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom:5px;
  width: 96%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}
.swiper-scrollbar {
  background:none;
  position:absolute;
  right:3px;
  top:0;
  height:auto;
  width:5px;
}
.swiper-scrollbar .swiper-scrollbar-drag {
  background:rgba(255,255,255,0.3);
}
#adminmenuwrap, #adminmenuback, #wpadminbar{
  display: none !important
}
#wpcontent, #wpfooter {
  margin: 0 !important;
}

/*hack for bootstrap compatibility*/
#wpbody-content *, #wpbody-content *:before, #wpbody-content *:after {
    box-sizing: unset!important;
}




/*patternlab*/
#patternlab-html, #patternlab-body {
    background: none repeat scroll 0 0 #dddddd;
    margin: 0;
    padding: 0;
}
.sg-nav-wrapper {
    background: none repeat scroll 0 0 #dddddd;
    overflow: hidden;
}
.is-vishidden {
    border: 0 none;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
}
.sg-cf, .sg-pattern {
}
.sg-cf:before, .sg-pattern:before, .sg-cf:after, .sg-pattern:after {
    content: " ";
    display: table;
}
.sg-cf:after, .sg-pattern:after {
    clear: both;
}
.sg-header {
    background: none repeat scroll 0 0 #222222;
    color: white;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    left: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 2;
}
.sg-header * {
    box-sizing: border-box;
}
.sg-header ul, .sg-header ol {
    margin: 0;
    padding: 0;
}
.sg-header li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    list-style: none outside none;
}
.sg-header a {
    color: gray;
    display: block;
    font-size: 70%;
    line-height: 1;
    padding: 1em;
    text-decoration: none;
    transition: color 0.15s ease-out 0s;
}
.sg-header a:hover, .sg-header a:focus, .sg-header a.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
    color: white;
}
.sg-header ol ol ol a {
    padding-left: 2em;
    text-transform: none;
}
.sg-header .sg-nav-toggle {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0.9em 1em;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}
.sg-header .sg-nav-toggle span {
    display: inline-block;
    padding-right: 0.2em;
}
@media all and (min-width: 48em) {
.sg-header .sg-nav-toggle {
    display: none;
}
}
@media all and (max-width: 48em) {
.sg-nav-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out 0s;
}
.sg-nav-container.active {
    max-height: 50em;
}
}
.sg-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.sg-nav > li {
    cursor: pointer;
}
@media all and (min-width: 48em) {
.sg-nav > li {
    border-bottom: 0 none;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    float: left;
    position: relative;
}
.sg-nav > li > ul {
    left: 0;
    position: absolute;
    top: 2em;
}
}
.sg-acc-handle:after {
    content: " +";
    float: right;
    font-size: 70%;
}
@media all and (min-width: 48em) {
.sg-acc-handle:after {
    float: none;
}
}
.sg-acc-handle.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
    color: white;
}
.sg-acc-handle.active:after {
    content: " -";
}
.sg-acc-handle.sg-icon:after {
    content: "";
}
.sg-header .sg-icon {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: auto;
}
.sg-acc-panel {
    max-height: 0;
    min-width: 10em;
    overflow: hidden;
    transition: max-height 0.1s ease-out 0s;
}
.sg-acc-panel li {
    background: none repeat scroll 0 0 #222222;
}
.sg-acc-panel.active {
    max-height: 120em;
    overflow: auto;
}
.sg-acc-panel.sg-right {
    left: auto;
    position: absolute;
    right: 0;
}
.sg-acc-panel.sg-left {
    left: auto;
    position: absolute;
}
.sg-acc-panel [class^="sg-icon-"]:before {
    display: inline-block;
    margin-right: 0.4em;
}
.sg-controls {
    border: 0 none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.sg-control-trigger {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
@media all and (min-width: 48em) {
.sg-control-trigger {
    border: 0 none;
}
}
@media all and (min-width: 72em) {
.sg-control-trigger {
    float: left;
    width: 6em;
}
}
.sg-control > li {
    float: left;
}
@media all and (min-width: 48em) {
.sg-control > li {
    border-bottom: 0 none;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
}
}
.sg-control .sg-input {
    padding: 0.1em;
    transition: all 0.2s ease-out 0s;
}
.sg-control .sg-input:active, .sg-control .sg-input:focus {
    background: none repeat scroll 0 0 #999999;
    color: #000;
    outline: 0 none;
}
.sg-current-size {
    color: gray;
    font-size: 70%;
    padding: 0.85em 0.7em;
}
.sg-current-size:hover .sg-input {
    background: none repeat scroll 0 0 #999999;
    color: #000;
}
@media all and (min-width: 72em) {
.sg-current-size {
    float: left;
}
}
.sg-size {
    width: 135px;
}
@media all and (min-width: 48em) {
.sg-size {
    width: auto;
}
}
@media all and (min-width: 72em) {
.sg-size-options {
    float: left;
    max-height: none;
    max-width: none;
    position: static;
}
.sg-size-options > li {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color -moz-use-text-color rgba(255, 255, 255, 0.05);
    border-image: none;
    border-style: none none none solid;
    border-width: 0 0 0 1px;
    float: left;
}
}
#sg-size-mq {
    display: none;
}
@media all and (min-width: 72em) {
#sg-size-mq {
    display: block;
}
}
#sg-form {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.sg-input {
    background-color: #222;
    border: 0 none;
    color: gray;
    margin: -2px 0 0;
    padding: 0;
    text-align: right;
    width: 25px;
}
@media all and (min-width: 48em) {
.sg-input {
    width: 35px;
}
}
.sg-input-active {
    background-color: #fff;
    color: #000;
}
.sg-view {
    position: relative;
}
.sg-view > ul {
    left: 0;
    position: absolute;
    top: 2em;
}
.sg-checkbox:before {
    display: inline-block;
    margin-right: 0.4em;
}
.sg-pattern-state:before {
    content: "•";
    display: inline-block;
    font-size: 18px;
    margin-bottom: -4px;
    margin-right: 4px;
    vertical-align: bottom;
}
.sg-nav .sg-pattern-state:before {
    display: block;
    float: left;
    height: 20px;
    margin-bottom: 0;
    margin-left: -4px;
    margin-top: -4px;
}
.sg-sub-nav .sg-pattern-state:before {
    margin-left: -11px;
    margin-right: 4px;
}
span.sg-pattern-state {
    color: #999;
}
span.sg-pattern-state:before {
    margin-bottom: -3px;
    margin-left: 4px;
}
.inprogress:before {
    color: #ff4136 !important;
}
.inreview:before {
    color: #ffcc00 !important;
}
.complete:before {
    color: #2ecc40 !important;
}
#sg-vp-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 2em;
    width: 100%;
    z-index: 0;
}
#sg-vp-wrap.wrap-animate {
    transition: left 0.3s ease-out 0s;
}
#sg-viewport {
    background-color: white;
    border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
#sg-viewport.hay-mode {
    transition: all 40s linear 0s;
}
.no-resize #sg-cover, .no-resize #sg-rightpull-container {
    display: none;
}
.no-resize #sg-viewport {
    overflow: hidden !important;
}
#sg-cover {
    cursor: col-resize;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 20;
}
#sg-gen-container {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;
}
#sg-gen-container.hay-mode {
    transition: all 40s linear 0s;
}
#sg-rightpull-container {
    cursor: col-resize;
    float: right;
    height: 100%;
    margin: 0;
    width: 14px;
}
#sg-rightpull {
    background: none repeat scroll 0 0 #999;
    height: 100%;
    margin: 0;
    transition: background 0.2s ease-out 0s;
    width: 100%;
}
#sg-rightpull:hover {
    background: none repeat scroll 0 0 #666;
}
#sg-rightpull:active {
    background: none repeat scroll 0 0 #444;
    cursor: col-resize;
}
.vp-animate {
    transition: width 0.8s ease-out 0s;
}
.sg-pattern {
    margin-bottom: 2em;
    position: relative;
}
.sg-pattern-head {
    border-bottom: 1px solid gray;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    font-size: 70%;
    font-weight: normal;
    margin: 2em 0;
    padding: 1em 0;
}
.sg-pattern-head a {
    color: gray;
    cursor: pointer;
    display: block;
    text-decoration: none;
}
.sg-pattern-head a:hover {
    color: #222222;
}
.sg-view-container {
    background: none repeat scroll 0 0 #222222;
    bottom: 0;
    box-sizing: border-box;
    color: gray;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    font-size: 90%;
    height: 50%;
    left: 0;
    line-height: 1.4;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 1em;
    position: fixed;
    top: auto;
    width: 100%;
    z-index: 2;
}
.sg-view-container a {
    color: #999999;
}
.sg-view-container pre {
    padding: 0 1em;
}
.sg-view-container.anim-ready {
    transition: bottom 0.3s ease-out 0s;
}
.sg-view-close {
    margin-bottom: -10px;
    width: 100%;
}
.sg-view-close-btn {
    color: #fff;
    display: block;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}
.has-annotation {
    box-shadow: 0 0 10px gray;
    cursor: help !important;
}
.has-annotation a, .has-annotation input {
    cursor: help !important;
}
.has-annotation:hover {
    box-shadow: 0 0 10px #222222;
}
.has-annotation.active {
    box-shadow: 0 0 20px gray inset;
}
.annotation-tip {
    background: none repeat scroll 0 0 #444 !important;
    border-radius: 13px !important;
    color: #fff !important;
    display: block;
    font-size: 16px !important;
    font-weight: bold !important;
    height: 25px !important;
    margin-left: -10px !important;
    margin-top: -10px !important;
    position: absolute;
    text-align: center !important;
    width: 25px !important;
    z-index: 100;
}
#sg-comments-container {
    margin: 0 auto;
    max-width: 60em;
}
.sg-comment-container {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
    margin-bottom: 1em;
    padding-bottom: 2em;
}
.sg-comment-container p:last-child {
    margin-bottom: 0;
}
.sg-comment-container h2 {
    margin-bottom: 0.25em;
}
.sg-code, .sg-annotations {
    background: none repeat scroll 0 0 #dddddd;
    clear: both;
    color: #222222;
    margin: 1em 0;
    padding: 1em 0.5em;
}
.sg-code a, .sg-annotations a {
    text-decoration: underline;
}
.sg-code pre {
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0.5em;
    white-space: pre-line;
    word-wrap: break-word;
}
.sg-code-contains {
    color: gray;
    font-size: 85%;
    margin-bottom: 1rem;
}
.sg-code-contains code {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.3);
    color: #999999;
    padding: 0.2em;
    position: relative;
    top: -2px;
}
.sg-code-head {
    color: gray;
    font-size: 1em;
}
#sg-code-markup {
    padding-top: 10px;
}
#sg-code-tabs {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
#sg-code-tabs li {
    background-color: #333;
    border-top: 2px solid #666;
    cursor: pointer;
    float: left;
    font-size: 1.3em;
    font-weight: bold;
    margin-right: 2px;
    padding: 5px 15px;
}
.sg-code-title-active {
    background-color: #272822 !important;
    color: #bbb;
}
div.clear {
    clear: both;
}
.sg-code-patternname {
    color: #aaa;
}
#sg-code-loader {
    background-color: #000;
    border-radius: 10px;
    display: none;
    left: 45%;
    padding: 10px;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 150px;
    z-index: 100;
}
.spinner {
    background: url("../images/spinner.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    border-radius: 50%;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    opacity: 0.7;
    width: 30px;
}
.sg-icon-search, .sg-icon-cog, .sg-icon-minus, .sg-icon-plus, .sg-icon-menu, .sg-icon-radio-checked, .sg-checkbox.active, .sg-icon-radio-unchecked, .sg-checkbox, .sg-icon-file, .sg-icon-link, .sg-icon-keyboard, .sg-icon-qrcode, .sg-icon-eye, .sg-checkbox {
    -moz-osx-font-smoothing: grayscale;
    font-family: "icomoon";
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
}
.sg-icon-search:before {
    content: "";
    font-size: 85%;
}
.sg-nav li a i {
    margin-right: 15px;
}
