html{
   height: 100%;
   overflow: hidden;
}

.device {
  position: relative;
}

.device .arrow-left,
.device .arrow-right {
  width: 17px;
  height: 30px;
  position: absolute;
  top: 50%;
  z-index: 100;
  background-image: url(../img/arrows.png);
  background-repeat: no-repeat;
}

.device .arrow-left {
  left: 10px;
  background-position: left top;
}
.device .arrow-right {
  right: 10px;  
  background-position: left bottom;
}

.swiper-container {
  height: auto;
  background: #fff;
}
.content-slide {
  color: #fff;
}
.title {
  font-size: 25px;
  margin-bottom: 10px;
}
.pagination {
  position: absolute;
  left: 0;
  text-align: center;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #999;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #fff;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
