/* ==========================================================================
   Breakpoints
   ========================================================================== */


//  Horizontal 

	$xs: 320px;

	$s: 480px;

	$sm: 481px 767px;

	$ms: 730px;

	$m: 768px;

	$ml: 900px;

	$l: 996px;

	$xl: 1140px;

	$xxl: 1280px;

	$xxxl: 1440px;

//  Vertical  

	$hs: min-height 45em;

	$hm: min-height 48em;