/* ==========================================================================
   Project Font Families
   ========================================================================== */

$font-sans: "Proxima Nova Rg", "ProximaNova-RegularIt", "Helvetica Neue", Helvetica, sans-serif;
$font-serif: "Minion Web Pro", MinionWebPro, "Times New Roman", serif;

%alt {
  font-family: $font-sans;
}

%gotham-thin {
  font-family: 'Gotham Thin', "Gotham-Thin", AvenirNext-UltraLight, Helvetica-Light, sans-serif;
  font-style:   normal;
  font-weight:  200;
}

%bodoni {
  font-family: 'Bodoni Std Poster', "BodoniStd-Poster";
  font-style:   normal;
  font-weight:  400;
}

%metro {
  font-family: 'Metropolis 1920', Metropolis1920;
  font-style:   normal;
  font-weight:  400;
}
// "ProximaNova-RegularIt",
// "ProximaNova-Bold"
%prox-black {
  font-family: 'Proxima Nova Bl', "ProximaNova-Black";
  font-style:   normal;
  font-weight:  400;
}

%sanotra {
  font-family: 'Sanotra';       
  font-style:   normal;
  font-weight:  400;
}

%alt-ren {
  font-family: 'Alt Ren';
  font-style:   normal;
  font-weight:  400;
}
  
%figa {
  font-family: 'Figa';
  font-style:   normal;
  font-weight:  400;
}

em {
  font-style:   italic;
}

strong {
  font-weight:  700;
}

em strong,
strong em {
  font-style:   normal;
  font-weight:  700;
}
