body {
  background: url('../../img/navy_blue.png')#303030;
}

/* Header */
.sg-header {
  height: 33px;
  background: #222222;
  color: white;
  font-family: "HelveticaNeue", "Helvetica", "Arial", sans-serif;
  text-transform: uppercase;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
}
.sg-header * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sg-header ul, .sg-header ol {
  padding: 0;
  margin: 0;
}
.sg-header li {
  list-style: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.sg-header a {
    font-size: 70%;
    color: gray;
    text-decoration: none;
    display: block;
    line-height: 1;
    padding: 1em;
    -webkit-transition: background 0.15s ease-out;
    -moz-transition: background 0.15s ease-out;
    -ms-transition: background 0.15s ease-out;
    -o-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
    -webkit-transition: color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out;
    -ms-transition: color 0.15s ease-out;
    -o-transition: color 0.15s ease-out;
    transition: color 0.15s ease-out;
}

.sg-header a:hover, .sg-header a:focus, .sg-header a.active {
  color: #428bca;
  background: rgba(255, 255, 255, 0.05);
}

.sg-header ol li ol li ol li a {
  padding-left: 2em;
  text-transform: none;
}

.input-error {
  border: 1px solid #CF000F !important;
  background: #D64541 !important;
}

#resize-submit {
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  text-transform: uppercase;
  border: 0;
  cursor: pointer;
  -webkit-transition: background 0.15s ease-out;
    -moz-transition: background 0.15s ease-out;
    -ms-transition: background 0.15s ease-out;
    -o-transition: background 0.15s ease-out;
    transition: background 0.15s ease-out;
    -webkit-transition: color 0.15s ease-out;
    -moz-transition: color 0.15s ease-out;
    -ms-transition: color 0.15s ease-out;
    -o-transition: color 0.15s ease-out;
    transition: color 0.15s ease-out;
}

/* Accordion */
.sg-acc-handle:after {
  content: ' +';
  float: right;
  font-size: 70%; }
  @media all and (min-width: 44em) {
    .sg-acc-handle:after {
      float: none; } }
.sg-acc-handle:hover {
  color: white;
  background: rgba(255, 255, 255, 0.05); }
  .sg-acc-handle:hover:after {
    content: ' -'; }

.sg-acc-panel {
  max-height: 0;
/*  min-width: 10em;*/
  background: #222222;
  -webkit-transition: max-height 0.5s ease-out;
  -moz-transition: max-height 0.5s ease-out;
  -ms-transition: max-height 0.5s ease-out;
  -o-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out; }
  .sg-acc-panel:hover {
    max-height: 50em; }
  .sg-acc-panel.sg-right {
    position: absolute;
    left: auto;
    right: 0; }

/* Controls (sizing, view mode) */
.sg-controls {
  border: 0;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2; }
  .sg-controls .sg-acc-panel:hover {
    max-height: 17em; }
  .sg-controls .sg-nav-phases .sg-acc-panel {
    min-width: 0; }
    .sg-controls .sg-nav-phases .sg-acc-panel:hover {
      max-height: none; }

.sg-control-trigger {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
  @media all and (min-width: 44em) {
    .sg-control-trigger {
      border: 0; } }
  @media all and (min-width: 45em) {
    .sg-control-trigger {
      float: left;
      width: 6em; } }

@media all and (min-width: 44em) {
  .sg-control > li {
    float: left;
    width: 31em;
    border-bottom: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.05); } }

.sg-control > li {
  float: left; }
.sg-control .sg-input {
  padding: 0.1em;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  -ms-transition: all 0.2s ease-out;
  -o-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out; }
  .sg-control .sg-input:active, .sg-control .sg-input:focus {
    outline: 0;
    background: #f7f7f7;
    color: #000; }

.sg-current-size {
  font-size: 70%;
  color: gray;
  padding: 0.8em 0.95em; }
  .sg-current-size:hover .sg-input {
    background: #f7f7f7;
    color: #000; }
  @media all and (min-width: 45em) {
    .sg-current-size {
      float: right; } }


#sg-form {
  margin: 0;
  border: 0;
  padding: 0; }

.sg-input {
  margin: -2px 0 0 0;
  padding: 0;
  border: 1px solid #222;
  background-color: #222;
  color: gray;
  width: 35px;
  text-align: right; }

.sg-input-active {
  background-color: #fff;
  color: #000; }




/*------------------------------------*\
    $STYLE GUIDE VIEWPORT
\*------------------------------------*/
/* Viewport */
#sg-vp-wrap {
  text-align: center;
  width: 100%; }
  @media all and (min-width: 44em) {
    #sg-vp-wrap {
      position: fixed;
      top: 2em;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: 0; } }
  #sg-vp-wrap.wrap-animate {
    -webkit-transition: left 0.3s ease-out;
    -moz-transition: left 0.3s ease-out;
    -ms-transition: left 0.3s ease-out;
    -o-transition: left 0.3s ease-out;
    transition: left 0.3s ease-out; }

#sg-viewport {
  border: 0;
  x-margin: 0 auto;
  height: 100%;
  width: 100%;
  float: left; }

#sg-cover {
  width: 100%;
  height: 100%;
  display: none;
  position: absolute;
  z-index: 20;
  cursor: col-resize; }

#sg-gen-container {
  height: 100%;
  text-align: center;
  margin: 0 auto; }



.vp-animate {
  -webkit-transition: all 0.8s ease-out;
  -moz-transition: all 0.8s ease-out;
  -ms-transition: all 0.8s ease-out;
  -o-transition: all 0.8s ease-out;
  transition: all 0.8s ease-out; }

/*------------------------------------*\
    $STYLE GUIDE CONTENT
\*------------------------------------*/

/* Clean View */
.sg-clean .sg-main {
  padding: 0; }

.animate-move {
  position: relative; }
  .animate-move .demo-shape {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20px;
    background: gray; }
  .animate-move:hover > .demo-shape {
    left: 100%;
    margin-left: -20px; }


.sg-colors {
  overflow: hidden; }
  .sg-colors li {
    overflow: hidden;
    border: 1px solid #dddddd;
    padding: 0.3em;
    margin: 0 0.2em 0.2em 0; }
    @media all and (min-width: 30em) {
      .sg-colors li {
        float: left;
        width: 5em; } }

.sg-swatch {
  display: block;
  height: 1.5em;
  width: 50%; }
  @media all and (max-width: 30em) {
    .sg-swatch {
      float: left;
      margin-right: 0.3em; } }
  @media all and (min-width: 30em) {
    .sg-swatch {
      width: 100%;
      height: 4em;
      margin-bottom: 0.2em; } }

.sg-label {
  line-height: 1; }

.sg-nav-wrapper {
    background: none repeat scroll 0 0 #dddddd;
    overflow: hidden;
}
.is-vishidden {
    border: 0 none;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
}
.sg-header {
    background: none repeat scroll 0 0 #222222;
    color: white;
    font-family: "HelveticaNeue","Helvetica","Arial",sans-serif;
    left: 0;
    position: fixed;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 2;
}
.sg-header * {
    box-sizing: border-box;
}
.sg-header ul, .sg-header ol {
    margin: 0;
    padding: 0;
}
.sg-header li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    list-style: none outside none;
}
.sg-header a {
    color: gray;
    display: block;
    font-size: 70%;
    line-height: 1;
    padding: 1em;
    height: 33px;
    text-decoration: none;
    transition: color 0.15s ease-out 0s;
}

.sg-header a.logo {
  color: #D5D5D5;
  letter-spacing: 1px;
}
.sg-header a:hover, .sg-header a:focus, .sg-header a.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
    color: white;
}
.sg-header ol ol ol a {
    padding-left: 2em;
    text-transform: none;
}
.sg-header .sg-nav-toggle {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    display: inline-block;
    padding: 0.9em 1em;
    position: relative;
    text-transform: uppercase;
    z-index: 2;
}
.sg-header .sg-nav-toggle span {
    display: inline-block;
    padding-right: 0.2em;
}
@media all and (min-width: 48em) {
.sg-header .sg-nav-toggle {
    display: none;
}
}
@media all and (max-width: 48em) {
.sg-nav-container {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.1s ease-out 0s;
}
.sg-nav-container.active {
    max-height: 50em;
}
}
.sg-nav {
    list-style: none outside none;
    margin: 0;
    padding: 0;
    z-index: 1;
}
.sg-nav > li {
    cursor: pointer;
}
@media all and (min-width: 48em) {
.sg-nav > li {
    border-bottom: 0 none;
    border-right: 1px solid rgba(255, 255, 255, 0.05);
    float: left;
    position: relative;
}
.sg-nav > li > ul {
    left: 0;
    position: absolute;
    top: 2em;
}
}
.sg-acc-handle:after {
    content: " +";
    float: right;
    font-size: 70%;
}
#reset:after {
   content: "";
}
@media all and (min-width: 48em) {
.sg-acc-handle:after {
    float: none;
}
}
.sg-acc-handle.active {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.05);
    color: white;
}
.sg-acc-handle.active:after {
    content: " -";
}
.sg-acc-panel {
    max-height: 0;
/*    min-width: 10em;*/
    overflow: hidden;
    transition: max-height 0.1s ease-out 0s;
}
.sg-acc-panel li {
    background: none repeat scroll 0 0 #222222;
}
.sg-acc-panel.active {
    max-height: 120em;
    overflow: auto;
}
.sg-acc-panel.sg-right {
    left: auto;
    position: absolute;
    right: 0;
}
.sg-acc-panel.sg-left {
    left: auto;
    position: absolute;
}
.sg-controls {
    border: 0 none;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}
.sg-control-trigger {
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
@media all and (min-width: 48em) {
.sg-control-trigger {
    border: 0 none;
}
}
@media all and (min-width: 72em) {
.sg-control-trigger {
    float: left;
    width: 6em;
}
}
.sg-control > li {
    float: left;
}
@media all and (min-width: 48em) {
  .sg-control > li {
    border-bottom: 0 none;
    border-left: 1px solid rgba(255, 255, 255, 0.05);
  }
}
.sg-control .sg-input {
    padding: 0.1em;
    transition: all 0.2s ease-out 0s;
    border: 1px solid #444;
    margin-left: 0;
    margin-right: 6px;
}
.sg-control .sg-input:active, .sg-control .sg-input:focus {
    background: none repeat scroll 0 0 #3F3F3F;
    color: #000;
    outline: 0 none;
}
.sg-current-size {
    color: gray;
    font-size: 70%;
    padding: 0.85em 0.7em;
}
.sg-current-size:hover .sg-input {
    background: none repeat scroll 0 0 #3F3F3F;
    color: #000;
}
@media all and (min-width: 72em) {
.sg-current-size {
    float: right;
}
}
.sg-size {
    width: 135px;
}
@media all and (min-width: 48em) {
.sg-size {
    width: auto;
}
}

#sg-size-mq {
    display: none;
}
@media all and (min-width: 72em) {
#sg-size-mq {
    display: block;
}
}
#sg-form {
    border: 0 none;
    margin: 0;
    padding: 0;
}
.sg-input {
    background-color: #222;
    border: 0 none;
    color: gray;
    margin: -2px 0 0;
    padding: 0;
    text-align: right;
    width: 25px;
}
@media all and (min-width: 48em) {
  .sg-input {
      width: 35px;
  }
}

.sg-input-active {
    background-color: #fff;
    color: #000;
}

#sg-vp-wrap {
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    text-align: center;
    top: 2em;
    width: 100%;
    z-index: 0;
}
#sg-vp-wrap.wrap-animate {
    transition: left 0.3s ease-out 0s;
}
#sg-viewport {
    background-color: white;
    border: 0 none;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
}
#sg-viewport.hay-mode {
    transition: all 40s linear 0s;
}
.no-resize #sg-cover
    display: none;
}
.no-resize #sg-viewport {
    overflow: hidden !important;
}
#sg-cover {
    cursor: col-resize;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 20;
}
#sg-gen-container {
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    text-align: center;
}
#sg-gen-container.hay-mode {
    transition: all 40s linear 0s;
}

.vp-animate {
    transition: width 0.8s ease-out 0s;
}

div.clear {
    clear: both;
}
.sg-nav li a i {
    margin-right: 15px;
}
