/* ==========================================================================
   VENDOR
   ========================================================================== */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.0.1
* Docs at http://davidtheclark.github.io/scut
*/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* Vars */
/* Utilities */
/* Mixins */
/* ==========================================================================
   BASE
   ========================================================================== */
/* ==========================================================================
   "not just for webkit" optimizations
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\000034}}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000312}}
* {
  -webkit-tap-highlight-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000316}}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000321}}
body {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000326}}
h1,
h2,
h3,
h4 {
  text-rendering: optimizeLegibility;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000333}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000348}}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000356}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000361}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000365}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000373}}
a, a:link, a:hover, a:visited, img {
  -webkit-touch-callout: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000377}}
:focus, :active {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000378}}
::-moz-focus-inner {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000380}}
a:active, a:focus {
  outline: none;
}

/* ==========================================================================
   BREAKPOINT MQ
   ========================================================================== */
/* ==========================================================================
   old
   ========================================================================== */
/* ==========================================================================
   COLORS
   ========================================================================== */
/* ==========================================================================
   Image styles
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\000035}}
figure {
  margin: 0;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000310}}
figure .aligncenter {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000314}}
img.aligncenter {
  height: auto;
}

/* ==========================================================================
   Project Font Families
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\000038}}
h1.alt,
h2.alt,
h3.alt,
h4.alt,
h5.alt,
h6.alt {
  font-family: "Proxima Nova Rg", "ProximaNova-Regular", "Helvetica Neue", Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\0000355}}
em {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\0000359}}
strong {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\0000363}}
em strong,
strong em {
  font-style: normal;
  font-weight: 700;
}

/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000310}}
html {
  font-size: 17px;
  line-height: 24px;
}
@media all and (min-width: 46.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000310}}
  html {
    font-size: 21px;
    line-height: 28px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000317}}
body {
  font-family: "Proxima Nova Rg", "ProximaNova-Regular", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 21px;
  line-height: 28px;
  font-size: 1rem;
  line-height: 1.3333333rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Minion Web Pro", "MinionWebPro", "Times New Roman", serif;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000335}}
h1 {
  font-size: 50px;
  font-size: 2.3809524rem;
  line-height: 56px;
  line-height: 2.6666667rem;
  margin-top: 28px;
  margin-top: 1.3333333rem;
  margin-bottom: 28px;
  margin-bottom: 1.3333333rem;
}
@media all and (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000335}}
  h1 {
    font-size: 67px;
    font-size: 3.1904762rem;
    line-height: 84px;
    line-height: 4rem;
    margin-top: 28px;
    margin-top: 1.3333333rem;
    margin-bottom: 28px;
    margin-bottom: 1.3333333rem;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000341}}
h2 {
  font-size: 67px;
  font-size: 3.1904762rem;
  line-height: 84px;
  line-height: 4rem;
  margin-top: 28px;
  margin-top: 1.3333333rem;
  margin-bottom: 28px;
  margin-bottom: 1.3333333rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000342}}
h3 {
  font-size: 50px;
  font-size: 2.3809524rem;
  line-height: 56px;
  line-height: 2.6666667rem;
  margin-top: 28px;
  margin-top: 1.3333333rem;
  margin-bottom: 28px;
  margin-bottom: 1.3333333rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000343}}
h4 {
  font-size: 38px;
  font-size: 1.8095238rem;
  line-height: 56px;
  line-height: 2.6666667rem;
  margin-top: 28px;
  margin-top: 1.3333333rem;
  margin-bottom: 28px;
  margin-bottom: 1.3333333rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000344}}
h5 {
  font-size: 28px;
  font-size: 1.3333333rem;
  line-height: 28px;
  line-height: 1.3333333rem;
  margin-top: 28px;
  margin-top: 1.3333333rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000345}}
h6 {
  font-size: 21px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.3333333rem;
  margin-top: 28px;
  margin-top: 1.3333333rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  font-weight: normal;
  text-transform: capitalize;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000351}}
p, ul, ol {
  font-size: 21px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.3333333rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 28px;
  margin-bottom: 1.3333333rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000355}}
p.intro {
  font-size: 1.3333333rem;
  line-height: 1.9047619rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000358}}
small, aside {
  font-size: 0.8095238rem;
  line-height: 1.2380952rem;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000363}}
p > small {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000367}}
p:empty {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000371}}
figure + p,
figure + p:empty {
  font-size: 21px;
  font-size: 1rem;
  line-height: 28px;
  line-height: 1.3333333rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 28px;
  margin-bottom: 1.3333333rem;
  display: block;
}

/* ==========================================================================
   UTILITY
   ========================================================================== */
/* ==========================================================================
  COMPONENTS
  ========================================================================== */
/* ==========================================================================
  LAYOUT
  ========================================================================== */
/* ==========================================================================
   GRID
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000037}}
.main h1,
.main h2,
.main h3,
.main h4,
.main h5,
.main h6,
p,
ul,
ol,
dl,
.aligncenter,
.alignleft,
.alignright,
small,
aside, .wrapper {
  *zoom: 1;
  width: auto;
  max-width: 996px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/bower_components\/jeet\/scss\/jeet\/_grid\.scss}line{font-family:\00003344}}
.main h1:before,
.main h2:before,
.main h3:before,
.main h4:before,
.main h5:before,
.main h6:before,
p:before,
ul:before,
ol:before,
dl:before,
.aligncenter:before,
.alignleft:before,
.alignright:before,
small:before,
aside:before, .wrapper:before, .main h1:after,
.main h2:after,
.main h3:after,
.main h4:after,
.main h5:after,
.main h6:after,
p:after,
ul:after,
ol:after,
dl:after,
.aligncenter:after,
.alignleft:after,
.alignright:after,
small:after,
aside:after, .wrapper:after {
  content: '';
  display: table;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/bower_components\/jeet\/scss\/jeet\/_grid\.scss}line{font-family:\00003349}}
.main h1:after,
.main h2:after,
.main h3:after,
.main h4:after,
.main h5:after,
.main h6:after,
p:after,
ul:after,
ol:after,
dl:after,
.aligncenter:after,
.alignleft:after,
.alignright:after,
small:after,
aside:after, .wrapper:after {
  clear: both;
}
@media all and (min-width: 46.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/layout\/_grid\.scss}line{font-family:\000037}}
  .main h1,
  .main h2,
  .main h3,
  .main h4,
  .main h5,
  .main h6,
  p,
  ul,
  ol,
  dl,
  .aligncenter,
  .alignleft,
  .alignright,
  small,
  aside, .wrapper {
    *zoom: 1;
    width: auto;
    max-width: 996px;
    float: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-left: 2rem;
    padding-right: 2rem;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/bower_components\/jeet\/scss\/jeet\/_grid\.scss}line{font-family:\00003344}}
  .main h1:before,
  .main h2:before,
  .main h3:before,
  .main h4:before,
  .main h5:before,
  .main h6:before,
  p:before,
  ul:before,
  ol:before,
  dl:before,
  .aligncenter:before,
  .alignleft:before,
  .alignright:before,
  small:before,
  aside:before, .wrapper:before, .main h1:after,
  .main h2:after,
  .main h3:after,
  .main h4:after,
  .main h5:after,
  .main h6:after,
  p:after,
  ul:after,
  ol:after,
  dl:after,
  .aligncenter:after,
  .alignleft:after,
  .alignright:after,
  small:after,
  aside:after, .wrapper:after {
    content: '';
    display: table;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/bower_components\/jeet\/scss\/jeet\/_grid\.scss}line{font-family:\00003349}}
  .main h1:after,
  .main h2:after,
  .main h3:after,
  .main h4:after,
  .main h5:after,
  .main h6:after,
  p:after,
  ul:after,
  ol:after,
  dl:after,
  .aligncenter:after,
  .alignleft:after,
  .alignright:after,
  small:after,
  aside:after, .wrapper:after {
    clear: both;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000314}}
.main {
  padding-bottom: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/layout\/_grid\.scss}line{font-family:\0000340}}
.main figure .aligncenter,
.main figure .alignleft,
.main figure .alignright {
  width: 100%;
}

/* ==========================================================================
  PAGES
  ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\000031}}
body {
  background-color: #FAFAFA;
  color: #363636;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\000037}}
.cover__image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000314}}
.cover + .main {
  margin-top: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000318}}
.cover h1 {
  width: 900px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000322}}
.cover__wrapper {
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000325}}
.cover__wrapper .cover__title.background--light {
  color: black;
  text-shadow: 0px 1px 30px rgba(255, 255, 255, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000329}}
.cover__wrapper .cover__title.background--dark {
  color: white;
  text-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000333}}
.cover__wrapper .cover__title.background--complex {
  color: gray;
  text-shadow: 0px 1px 30px rgba(127, 127, 127, 0.3);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000340}}
.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACVJREFUeNpiYAABRgZk8J8BTfA/Qo4RXQAiiCYAUoFqJgNAgAEA/4cFAU7jxV8AAAAASUVORK5CYII=") repeat 0 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000345}}
.overlay.background--light {
  background-color: rgba(255, 255, 255, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000348}}
.overlay.background--dark {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\0000352}}
.overlay.background--complex {
  background-color: rgba(127, 127, 127, 0.2);
}

/*# sourceMappingURL=styles.css.map */
