/* ==========================================================================
   VENDOR
   ========================================================================== */
/*
* Scut, a collection of Sass utilities
* to ease and improve our implementations of common style-code patterns.
* v1.0.1
* Docs at http://davidtheclark.github.io/scut
*/
/*  Syntax Quick Reference
  --------------------------
  column($ratios: 1, $offset: 0, $cycle: 0, $uncycle: 0, $gutter: $jeet-gutter)
  span($ratio: 1, $offset: 0)
  shift($ratios: 0, $col_or_span: column, $gutter: $jeet-gutter)
  unshift()
  edit()
  center($max_width: 1410px, $pad: 0)
  stack($pad: 0, $align: false)
  unstack()
  align($direction: both)
  cf()
*/
/**
 * Grid settings.
 * All values are defaults and can therefore be easily overidden.
 */
/**
 * List functions courtesy of the wonderful folks at Team Sass.
 * Check out their awesome grid: Singularity.
 */
/**
 * Get  percentage from a given ratio.
 * @param {number} [$ratio=1] - The column ratio of the element.
 * @returns {number} - The percentage value.
 */
/**
 * Work out the column widths based on the ratio and gutter sizes.
 * @param {number} [$ratios=1] - The column ratio of the element.
 * @param {number} [$gutter=$jeet-gutter] - The gutter for the column.
 * @returns {list} $width $gutter - A list containing the with and gutter for the element.
 */
/**
 * Get the set layout direction for the project.
 * @returns {string} $direction - The layout direction.
 */
/**
 * Replace a specified list value with a new value (uses built in set-nth() if available)
 * @param {list} $list - The list of values you want to alter.
 * @param {number} $index - The index of the list item you want to replace.
 * @param {*} $value - The value you want to replace $index with.
 * @returns {list} $list - The list with the value replaced or removed.
 * @warn if an invalid index is supplied.
 */
/**
 * Reverse a list (progressively enhanced for Sass 3.3)
 * @param {list} $list - The list of values you want to reverse.
 * @returns {list} $result - The reversed list.
 */
/**
 * Get the opposite direction to a given value.
 * @param {string} $dir - The direction you want the opposite of.
 * @returns {string} - The opposite direction to $dir.
 * @warn if an incorrect string is provided.
 */
/**
 * Style an element as a column with a gutter.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [$cycle=0] - Easily create an nth column grid where $cycle equals the number of columns.
 * @param {number} [$uncycle=0] - Undo a previous cycle value to allow for a new one.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column mixin.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Get the width of a column and nothing else.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Get the gutter size of a column and nothing else.
 * @param {number} [ratios=1] - A width relative to its container as a fraction.
 * @param {number} [gutter=jeet.gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * An alias for the column-width function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * An alias for the column-gutter function.
 * @param [$args...] - All arguments get passed through to column().
 */
/**
 * Style an element as a column without any gutters for a seamless row.
 * @param {number} [$ratios=1] - A width relative to its container as a fraction.
 * @param {number} [$offset=0] - A offset specified as a fraction (see $ratios).
 * @param {number} [cycle=0] - Easily create an nth column grid where cycle equals the number of columns.
 * @param {number} [uncycle=0] - Undo a previous cycle value to allow for a new one.
 */
/**
 * Reorder columns without altering the HTML.
 * @param {number} [$ratios=0] - Specify how far along you want the element to move.
 * @param {string} [$col-or-span=column] - Specify whether the element has a gutter or not.
 * @param {number} [$gutter=$jeet-gutter] - Specify the gutter width as a percentage of the containers width.
 */
/**
 * Reset an element that has had shift() applied to it.
 */
/**
 * View the grid and its layers for easy debugging.
 * @param {string} [$color=black] - The background tint applied.
 * @param {boolean} [$important=false] - Whether to apply the style as !important.
 */
/**
 *  Alias for edit().
 */
/**
 * Horizontally center an element.
 * @param {number} [$max-width=1410px] - The max width the element can be.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 */
/**
 * Uncenter an element.
 */
/**
 * Stack an element so that nothing is either side of it.
 * @param {number} [$pad=0] - Specify the element's left and right padding.
 * @param {boolean/string} [$align=false] - Specify the text align for the element.
 */
/**
 * Unstack an element.
 */
/**
 * Center an element on either or both axes.
 * @requires A parent container with relative positioning.
 * @param {string} [$direction=both] - Specify which axes to center the element on.
 */
/**
 * Apply a clearfix to an element.
 */
/* Vars */
/* Utilities */
/* Mixins */
/* ==========================================================================
   BASE
   ========================================================================== */
/* ==========================================================================
   "not just for webkit" optimizations
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\000034}}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000312}}
* {
  -webkit-tap-highlight-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000316}}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000321}}
body {
  padding: 0;
  margin: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000326}}
.toc__title {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000334}}
h1,
h2,
h3,
h4 {
  text-rendering: optimizeLegibility;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000341}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000356}}
audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000364}}
audio:not([controls]) {
  display: none;
  height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000369}}
abbr[title] {
  border-bottom: 1px dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000373}}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000381}}
a, a:link, a:hover, a:visited, img {
  -webkit-touch-callout: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000385}}
a, a:link, a:hover, a:visited {
  text-decoration: none;
  color: #1872B9;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000390}}
:focus, :active {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000391}}
::-moz-focus-inner {
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_globals\.scss}line{font-family:\0000393}}
a:active, a:focus {
  outline: none;
}

/* ==========================================================================
   BREAKPOINT MQ
   ========================================================================== */
/* ==========================================================================
   COLORS
   ========================================================================== */
/* ==========================================================================
   Image styles
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\000035}}
figure {
  margin: 0;
  padding: 0;
  line-height: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\000039}}
figure img {
  width: 100%;
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000315}}
figure .aligncenter {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000319}}
img.aligncenter {
  height: auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000325}}
figure + p {
  font-size: 14px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.6428571rem;
  margin-top: 23px;
  margin-top: 1.6428571rem;
  margin-bottom: 23px;
  margin-bottom: 1.6428571rem;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000330}}
.entry-content-asset + p {
  font-size: 14px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.6428571rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 23px;
  margin-bottom: 1.6428571rem;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000336}}
.entry-content-asset + p:empty,
figure + p:empty {
  font-size: 14px;
  font-size: 1rem;
  line-height: 23px;
  line-height: 1.6428571rem;
  margin-top: 23px;
  margin-top: 1.6428571rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_images\.scss}line{font-family:\0000357}}
figcaption {
  margin-left: 1em;
}

/* ==========================================================================
   Embed styles
   ========================================================================== */
/* ==========================================================================
   Font Families
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\0000314}}
h1.alt,
h2.alt,
h3.alt,
h4.alt,
h5.alt,
h6.alt {
  font-family: "Lato", "Lato-Bold", "Helvetica Neue", Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\0000318}}
em {
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\0000322}}
strong {
  font-weight: 700;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_fonts\.scss}line{font-family:\0000326}}
em strong,
strong em {
  font-style: normal;
  font-weight: 700;
}

/*

Font Families Name in xCode:

"Lato-Italic"
"Lato-Bold"
"Lato-BoldItalic"
"PlayfairDisplay-Regular"
"PlayfairDisplay-Italic"
"PlayfairDisplay-Bold"
"PlayfairDisplay-BoldItalic"

*/
/* ==========================================================================
   TYPOGRAPHY
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000310}}
html {
  font-size: 15px;
  line-height: 27px;
}
@media all and (min-width: 46.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000310}}
  html {
    font-size: 19px;
    line-height: 31px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000317}}
body {
  font-family: "Lato", "Lato-Regular", "Helvetica Neue", Helvetica, sans-serif;
  font-size: 19px;
  line-height: 31px;
  font-size: 1rem;
  line-height: 1.6315789rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000322}}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", "PlayfairDisplay-Bold", "Times New Roman", serif;
  font-style: normal;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000335}}
h1 {
  font-size: 46px;
  font-size: 2.4210526rem;
  line-height: 62px;
  line-height: 3.2631579rem;
  margin-top: 31px;
  margin-top: 1.6315789rem;
  margin-bottom: 31px;
  margin-bottom: 1.6315789rem;
}
@media all and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000335}}
  h1 {
    font-size: 60px;
    font-size: 3.1578947rem;
    line-height: 62px;
    line-height: 3.2631579rem;
    margin-top: 62px;
    margin-top: 3.2631579rem;
    margin-bottom: 31px;
    margin-bottom: 1.6315789rem;
    line-height: 1.3;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000343}}
h2 {
  font-size: 60px;
  font-size: 3.1578947rem;
  line-height: 62px;
  line-height: 3.2631579rem;
  margin-top: 31px;
  margin-top: 1.6315789rem;
  margin-bottom: 31px;
  margin-bottom: 1.6315789rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000345}}
h3 {
  font-size: 46px;
  font-size: 2.4210526rem;
  line-height: 62px;
  line-height: 3.2631579rem;
  margin-top: 31px;
  margin-top: 1.6315789rem;
  margin-bottom: 31px;
  margin-bottom: 1.6315789rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000347}}
h4 {
  font-size: 34px;
  font-size: 1.7894737rem;
  line-height: 62px;
  line-height: 3.2631579rem;
  margin-top: 31px;
  margin-top: 1.6315789rem;
  margin-bottom: 31px;
  margin-bottom: 1.6315789rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000350}}
h5 {
  font-size: 26px;
  font-size: 1.3684211rem;
  line-height: 31px;
  line-height: 1.6315789rem;
  margin-top: 31px;
  margin-top: 1.6315789rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000354}}
h6 {
  font-size: 19px;
  font-size: 1rem;
  line-height: 31px;
  line-height: 1.6315789rem;
  margin-top: 31px;
  margin-top: 1.6315789rem;
  margin-bottom: 0px;
  margin-bottom: 0rem;
  font-weight: normal;
  text-transform: capitalize;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000361}}
blockquote {
  margin-top: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000364}}
blockquote cite {
  display: block;
  font-style: normal;
  font-size: 1.1052632rem;
  line-height: 1.5789474rem;
  color: #A6A8AB;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000370}}
blockquote cite:before {
  content: '\2014\2009';
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000373}}
blockquote cite:after {
  content: '\2009\2014';
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000379}}
blockquote > p {
  font-size: 1.4736842rem;
  line-height: 2.1052632rem;
  font-style: italic;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000385}}
p, ul, ol {
  font-size: 19px;
  font-size: 1rem;
  line-height: 31px;
  line-height: 1.6315789rem;
  margin-top: 0px;
  margin-top: 0rem;
  margin-bottom: 31px;
  margin-bottom: 1.6315789rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000389}}
p.intro {
  font-size: 1.4736842rem;
  line-height: 2.1052632rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000392}}
small,
aside,
figcaption {
  font-size: 0.8947368rem;
  line-height: 1.3684211rem;
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\0000399}}
aside,
figcaption {
  font-family: "Lato", "Lato-Regular", "Helvetica Neue", Helvetica, sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\00003104}}
p > small {
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\00003108}}
.main > p:empty,
p:empty {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/base\/_typography\.scss}line{font-family:\00003113}}
.main p:empty + p {
  font-size: 19px;
  font-size: 1rem;
  line-height: 31px;
  line-height: 1.6315789rem;
  margin-top: 31px;
  margin-top: 1.6315789rem;
  margin-bottom: 31px;
  margin-bottom: 1.6315789rem;
}

/* ==========================================================================
   UTILITY
   ========================================================================== */
/* ==========================================================================
  COMPONENTS
  ========================================================================== */
/* ==========================================================================
   SWIPER 
   ========================================================================== */
/*
 * Swiper 2.6.1
 * Mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/sliders/swiper/
 *
 * Copyright 2010-2014, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under GPL & MIT
 *
 * Released on: May 6, 2014
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000319}}
.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
  /* Fix of Webkit flickering */
  z-index: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000331}}
.swiper-wrapper {
  position: relative;
  width: 100%;
  -webkit-transition-property: -webkit-transform, left, top;
  -webkit-transition-duration: 0s;
  -webkit-transform: translate3d(0px, 0, 0);
  -webkit-transition-timing-function: ease;
  -moz-transition-property: -moz-transform, left, top;
  -moz-transition-duration: 0s;
  -moz-transform: translate3d(0px, 0, 0);
  -moz-transition-timing-function: ease;
  -o-transition-property: -o-transform, left, top;
  -o-transition-duration: 0s;
  -o-transform: translate3d(0px, 0, 0);
  -o-transition-timing-function: ease;
  -o-transform: translate(0px, 0px);
  -ms-transition-property: -ms-transform, left, top;
  -ms-transition-duration: 0s;
  -ms-transform: translate3d(0px, 0, 0);
  -ms-transition-timing-function: ease;
  transition-property: transform, left, top;
  transition-duration: 0s;
  transform: translate3d(0px, 0, 0);
  transition-timing-function: ease;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000364}}
.swiper-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000372}}
.swiper-slide {
  float: left;
}

/* IE10 Windows Phone 8 Fixes */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000377}}
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000380}}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

/* ===============================================================
Your custom styles, here you need to specify container's and slide's
sizes, pagination, etc.
================================================================*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000388}}
.swiper-container {
  /* Specify Swiper's Size: */
  /*width:200px;
  height: 100px;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\0000394}}
.swiper-slide {
  /* Specify Slides's Size: */
  /*width: 100%;
  height: 100%;*/
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\00003100}}
.swiper-slide-active {
  /* Specific active slide styling: */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\00003104}}
.swiper-slide-visible {
  /* Specific visible slide styling: */
}

/* ===============================================================
Pagination Styles
================================================================*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\00003111}}
.swiper-pagination-switch {
  /* Stylize pagination button: */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\00003115}}
.swiper-active-switch {
  /* Specific active button style: */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_swiper\.scss}line{font-family:\00003119}}
.swiper-visible-switch {
  /* Specific visible button style: */
}

/* ==========================================================================
   ENTRY META
   ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\000035}}
.cover + .main {
  margin-top: 2rem;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\000039}}
.cover {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000315}}
.cover__image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 82vh;
  position: relative;
  overflow: hidden;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000324}}
h1.cover__title--resize {
  line-height: 1.4em;
  width: 320px;
  padding: 0 2rem;
}
@media all and (min-width: 30em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000324}}
  h1.cover__title--resize {
    width: 480px;
  }
}
@media all and (min-width: 37.5em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000324}}
  h1.cover__title--resize {
    width: 600px;
  }
}
@media all and (min-width: 46.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000324}}
  h1.cover__title--resize {
    width: 740px;
  }
}
@media all and (min-width: 61.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000324}}
  h1.cover__title--resize {
    width: 980px;
  }
}
@media all and (min-width: 81.25em) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000324}}
  h1.cover__title--resize {
    width: 1300px;
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000345}}
.cover__wrapper {
  position: absolute;
  top: 50%;
  margin-top: auto;
  margin-bottom: auto;
  left: 50%;
  margin-left: auto;
  margin-right: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000349}}
.toc__title,
.cover__title {
  transition: all 1s ease-in-out;
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000355}}
.toc__title.background--dark,
.cover__title.background--dark {
  color: white;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000358}}
.toc__title.background--complex,
.cover__title.background--complex {
  color: white;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000363}}
.cover__overlay--scanline.background--light {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgdmlld0JveD0iLTIuNSA5OTcuNSA1IDUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgLTIuNSA5OTcuNSA1IDUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iI2ZmZiIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iLTIuNSIgeTE9IjEwMDIuNSIgeDI9IjIuNSIgeTI9Ijk5Ny41Ii8+PC9zdmc+") repeat 0 0;
  background-size: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000368}}
.cover__overlay--scanline.background--dark, .cover__overlay--scanline.background--complex {
  background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZlcnNpb249IjEuMSIgeD0iMCIgeT0iMCIgdmlld0JveD0iLTIuNSA5OTcuNSA1IDUiIGVuYWJsZS1iYWNrZ3JvdW5kPSJuZXcgLTIuNSA5OTcuNSA1IDUiIHhtbDpzcGFjZT0icHJlc2VydmUiPjxsaW5lIGZpbGw9Im5vbmUiIHN0cm9rZT0iIzExMSIgc3Ryb2tlLW1pdGVybGltaXQ9IjEwIiB4MT0iLTIuNSIgeTE9IjEwMDIuNSIgeDI9IjIuNSIgeTI9Ijk5Ny41Ii8+PC9zdmc+") repeat 0 0;
  background-size: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000373}}
.cover__overlay, .cover__overlay--simple {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000383}}
.cover__overlay {
  background-color: rgba(0, 0, 0, 0.5);
  background-size: 5px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000389}}
.cover__overlay--scanline {
  transition: all 1s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000391}}
.cover__overlay--scanline.background--light {
  background-color: rgba(255, 255, 255, 0.7);
  opacity: .35;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\0000396}}
.cover__overlay--scanline.background--dark {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\00003101}}
.cover__overlay--scanline.background--complex {
  background-color: rgba(0, 0, 0, 0.2);
  opacity: .35;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\00003108}}
.cover__overlay--simple {
  transition: all 1s ease-in-out;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\00003111}}
.cover__overlay--simple.background--light {
  background-color: rgba(255, 255, 255, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\00003114}}
.cover__overlay--simple.background--dark {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/components\/_cover-image\.scss}line{font-family:\00003118}}
.cover__overlay--simple.background--complex {
  background-color: rgba(0, 0, 0, 0.2);
}

/* ==========================================================================
  LAYOUT
  ========================================================================== */
/* ==========================================================================
  PAGES
  ========================================================================== */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_all\.scss}line{font-family:\000031}}
body {
  background-color: #FAFAFA;
  color: #505050;
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\000031}}
#toc {
  margin: 0;
  padding: 0;
  background: red;
  height: 100%;
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\000038}}
#toc h1 a:link, #toc h1 a:visited, #toc h1 a:hover, #toc h1 a:focus {
  text-decoration: none;
  color: inherit;
  font-weight: inherit;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000316}}
.swiper-container {
  width: 100%;
  overflow-x: scroll;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000321}}
.toc__item {
  background-color: #ddd;
  position: relative;
  width: 33.33333333333333333333%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000325}}
.toc__item header {
  position: absolute;
  z-index: 100;
  word-wrap: break-word;
  width: 100%;
  height: inherit;
  padding: 1rem 2rem;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000332}}
.toc__item header a {
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000338}}
#toc .swiper-slide-active {
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 1px 0 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000344}}
#toc .swiper-slide-active + .swiper-slide-visible {
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 1px 0 0px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000350}}
.toc__item.cover__image {
  min-height: 100vh;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/nico\/Siti\/pressroom\/wp-content\/plugins\/pressroom-pro\/themes\/pressroom\/assets\/sass\/pages\/_toc\.scss}line{font-family:\0000354}}
.toc__title {
  margin: 0;
  font-size: 1.4736842rem;
  line-height: 2.1052632rem;
}

/*# sourceMappingURL=toc.css.map */
